form {
    padding: 20px 0px 50px 0px;
  }
  
  body {
    padding-top: 20px;
    background: #4977db;
  }
  
  #content {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    background: white;
  }
  
   .btn-block a{
    color: white;
    text-decoration: none;
   
  }

  #btnSend a{
    color: white;
    text-decoration: none;
    
  }

  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px 5px;
  }
  .grid-container #comum{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px 5px;
  }
  
  .grid-item{
    width: 80px;
    
  }
    
  form label {
    cursor: pointer;
  }
  
  .content-container {
    padding: 5px 10px 20px 10px;
  }
  
  footer {
    background: #2b2b2b;
    padding: 10px 0px 20px 0px;
    border-start-end-radius: 60px;
    border-start-start-radius: 60px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.6);  

  }
  
  footer h6 {
    color: #ecf0f1;
    font-size: 1.1rem;
  }
  
  footer a {
    font-size: 0.9rem;
    color: #7f8c8d;
    margin: 0px 10px 0px 0px;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ecf0f1;
    text-decoration: none;
  }
  
  footer #social i {
    font-size: 2rem;
  }
  
  footer #social i:hover {
    color: #8e44ad;
  }
  
  .password-border {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .password-border #password,
  .password-border #confirmPassword {
    border: none;
  }
  
  .password-border button {
    border: none !important;
    background: white;
  }

  .container #apart{
    align-items: center;
  }
  .dropdown {
    display: inline;
    
  }

  table, th, td {
    border-collapse: collapse;
    margin: 20px;
    border: 1px solid;

  }

  .qtd{
    width: 70px;
    font-size: 12px;
  }
  .monitorar {
    display: flex;
    flex-direction: column;
  }
 
  